html {
  background: url("img/2411049-HSC00001-7.jpg") no-repeat center fixed;
  background-size: cover;
}

body {
  /* background-color: rgba(74, 65, 42);
  background-color: rgba(82, 61, 92, 0.9); */
  background-image: linear-gradient(
    rgba(187, 182, 137, 0.9),
    rgb(204, 136, 153, 0.9)
  );
  border-radius: 15px;
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

h1 {
  font-family: serif;
  font-size: 400%;
  color: rgba(0, 0, 0, 0.629);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.329);
  color: black;
}

input {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.329);
  color: rgb(193, 193, 193);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

.tiny {
  font-size: small;
}

.center {
  text-align: center;
}

button {
  background-color: rgba(0, 0, 0, 0.344);
  color: rgb(190, 190, 190);
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
}
